---
layout: layouts/base.njk
title: "Design in Product - About"
activePage: about
contentClass: about__wrapper
hasShareQuote: true
---

<h1 class="h1">Design-Centered Product</h1>
<p class="pageDescription">
  We provide leadership consulting and mentorship to grow product people, empower product teams, and put the experience of your ultimate customer at the center of your product design and development workflow.
</p>
<img class="about__img" src="/images/about-xian-illus.png"
  alt="Hand-illustration of Design in Product Founder Christian Crumlish. The illustration is white on a small black background.">

<p class="about__text">
  Design in Product founder <a class="about__text-link" href="https://crumlish.me/">Christian
    Crumlish</a> has been leading product
  and UX teams for more than two decades.
</p>

<p class="about__text">
  He's helped large companies and startups for consumer and enterprise
  while providing platforms and generative tools for collaboration and
  creativity.
</p>

<p class="about__text">
  He's helped teams build everything from gesture-based native mobile cloud apps to
  compassionate social environments designed to bring out the best in
  human nature for companies like
  <a class="about__text-link" href="https://www.pathcheck.org/">PathCheck.org</a>,
  <a class="about__text-link" href="https://www.datacoral.com/">DataCoral.co</a>,
  <a class="about__text-link" href="https://www.cityinnovate.com/">CityInnovate.com</a>,
  <a class="about__text-link" href="https://humanestcare.com/">NESThealth.io</a>,
  <a class="about__text-link" href="https://www.eduworks.com/">EduWorks</a>,
  <a class="about__text-link" href="https://www.7cups.com/">7cups.com</a>,
  <a class="about__text-link"
    href="https://www.crunchbase.com/organization/cloudon">CloudOn</a>
  (acquired by Dropbox),
  <a class="about__text-link" href="https://www.technologyreview.com/2017/12/14/67582/aol-instant-messenger-made-social-media-what-it-is-today/">AIM</a>,
  AOL, Yahoo, Extractable, Grateful
  Dead Productions, Rhino Records, Visa, Sprint, Radio Free Blogistan,
  and Enterzone.
</p>

<p class="about__text">Christian provides leadership consulting and
  mentorship to grow product people, empower product teams, and put the
  experience of your ultimate customer at the center of your product
  design and development workflow.</p>

<a href="/contact/" class="pink-link about__cta-link">
  Start your Design in Product journey today.
</a>

<!-- Collaboration quote start -->
<div class="collaboration-quote__wrapper">
  <p class="collaboration-quote">"No optional complexity."</p>
  <span class="collaboration-quote__source">Christian Crumlish, 'Growing Product People'</span>
  <button class="btn blue-btn collaboration-quote__btn" onclick="shareQuote('No optional complexity.', 'Christian Crumlish, Growing Product People')">
    <svg class="collaboration-quote__btn-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z" fill="currentColor"/>
    </svg>
    <span>Share Quote</span>
  </button>
</div>
<!-- Collaboration quote end -->
