---
layout: layouts/base.njk
title: "Design in Product - Product"
activePage: product
hasShareQuote: true
---

<!-- Hero start -->
<div class="hero-section product-hero-section">
  <div class="hero-content product-hero-content">
    <h1 class="h1">Digital Products ARE Services.</h1>
    <h2 class="h2 hero-content__description">It's time to get serious about Product Management.</h2>
    <a href="#wayswehelp" class="btn pink-btn hero-content__cta">How do we get there?</a>
  </div>
  <img class="product-hero-image" src="/images/product-hero-illus.svg"
    alt="Hand-drawn black and white llustration of a woman kneeling next to a box, packing or unpacking the box with icons of different tech products. The one she's holding has a play button, another looks like an image placeholder.">
</div>
<!-- Hero end -->

<!-- how can we help section start -->
<div class="how-can-we-help">
  <h3 class="h3" id="wayswehelp">Ways We Help</h3>
  <div class="how-can-we-help__points">
    <div class="how-can-we-help__point">
      <img src="/images/product-icon-plant.svg" alt="Small hand-drawn icon of a hand nurturing a single plant." class="how-can-we-help__point-icon">
      <span class="how-can-we-help__point-text">Your first PM Startup Consulting</span>
    </div>
    <div class="how-can-we-help__point">
      <img src="/images/product-icon-shapes.svg" alt="Small hand-drawn icon of shapes that look like they've just begun building something cohesive together." class="how-can-we-help__point-icon">
      <span class="how-can-we-help__point-text">Product Leadership & Mentorship in Team Building</span>
    </div>
    <div class="how-can-we-help__point">
      <img src="/images/product-icon-atom.svg" alt="Small hand-drawn icon of a chemistry-like atom/molecule compound." class="how-can-we-help__point-icon">
      <span class="how-can-we-help__point-text">Product Ops Workflows & Cadence that fit the stage that you're in.</span>
    </div>
    <div class="how-can-we-help__point">
      <img src="/images/product-icon-lightning.svg" alt="Small hand-drawn icon of a single bolt of lightning with some hand-drawn line elements highlighting it for emphasis." class="how-can-we-help__point-icon">
      <span class="how-can-we-help__point-text">Product Strategy Achieve alignment, buy-in, & focus.</span>
    </div>
  </div>
</div>
<!-- how can we help section end -->

<!-- Value prop section start -->
<div class="product-value-prop">
  <div class="product-value-prop__graphic-wrapper">
    <img class="product-value-prop__graphic" src="/images/product-money-illus.svg"
      alt="Illustration of a hand holding a phone. There are different icons surrounding it, including a heart, two dollar signs, and a shopping cart.">
  </div>
  <div class="product-value-prop__text">
    <p class="product-value-prop__point">Are you looking to unlock the value of design and product management in your company?</p>
    <p class="product-value-prop__point product-value-prop__point--cta">Get on Christian's calendar today.</p>
    <a href="https://calendly.com/dinp/intro-call" class="btn pink-btn product-value-prop__cta">Book an Intro Call</a>
  </div>
</div>
<!-- Value prop section end -->

<!-- Collaboration quote start -->
<div class="collaboration-quote__wrapper">
  <p class="collaboration-quote">"Getting the plumbing right is necessary but not sufficient for an MVP."</p>
  <span class="collaboration-quote__source">Christian Crumlish, 'Growing Product People'</span>
  <button class="btn blue-btn collaboration-quote__btn" onclick="shareQuote('Getting the plumbing right is necessary but not sufficient for an MVP.', 'Christian Crumlish, Growing Product People')">
    <svg class="collaboration-quote__btn-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z" fill="currentColor"/>
    </svg>
    <span>Share Quote</span>
  </button>
</div>
<!-- Collaboration quote end -->
